div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em;
}
p {
    flex: 1 0 auto;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

li {
    cursor: pointer;
}