form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em 3em 3em 3em;
}
select, input {
    padding: 1em;
}

label {
    padding: 1em 0;
}

select,input, label{
    font-size:1em;
}

h1 {
    margin: 0;
}
div {
    padding: 0 3em;
}